<!DOCTYPE html>
<html>
  <head>
    <title>GooderReads</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <!-- icons -->
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <!-- styles -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <!-- js -->
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-[#fffef3]">
    <%= yield %>
  </body>
</html>
