<!DOCTYPE html>
<html class="min-h-screen">
  <head>
    <title><%= content_for(:title) || "GooderReads"%></title>

  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Playfair:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">

    <%= yield :head %>
    <!-- icons -->
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <!-- styles -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- js -->
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-[#f7f4e9] min-h-screen font-sans">
    <%= render "layouts/alerts" %>
    <%= yield %>
  </body>
</html>
